* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.section-right__content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 24px);
    height: calc(100% - 32px);

    border-radius: 8px;
}
.section-right__content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    gap: 8px;
}
.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 280px;
    padding: 10px 12px;

    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}
.searchBar__input {
    border: none;
    outline: none;

    width: 100%;
}
.searchBar__input::placeholder {
    color: #9c9c9b;
    font-size: 14px;
    font-weight: 400;
}
.searchBar__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    outline: none;
    border: none;
    background: transparent;

    cursor: pointer;
}
.dataBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

/* -------------------------------------------------- */

.album {
    display: flex;
    flex-direction: column;

    width: 280px;
    min-width: 280px;

    background-color: #ffffff;
    border-radius: 8px;
}
.album__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 232px;

    border-radius: 8px 8px 0 0;
}
.album__infoBox {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 20px 24px;
    gap: 12px;

    border-radius: 0 0 8px 8px;
}
.album__infoBox__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 24px;
}
.albumLabel {
    display: flex;
    align-items: center;

    width: 100px;

    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
.value {
    font-weight: 400;
    font-size: 15px;
}

/* -------------------------------------------------- */

swiper-container {
    width: 90%;
    max-width: 90%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 8px 8px 0 0;
}